@model IEnumerable<ShowGo.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurveyTitle)    
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
    </tr>

    @foreach (var survey in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => survey.SurveyTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = survey.Id }) |
                @Html.ActionLink("Details", "Details", new { id = surveyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = surveyId }) |
            </td>

            <td>
                @Html.DisplayFor(model => survey.CreatedBy.Email)
            </td>
        </tr>
    }
</table>
